  #loader {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 45%;
    
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
    background-image :url('../assets/img/logo.png');
    background-size: cover;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  