.gallery {
    width: 100%;
    padding:2%;
}
.placeholder {
    border: 1px solid #EEEEEE;
    border-radius: 5%;
    padding: 1%;
    width: 49%;
    margin: 1%;
    float: left;
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.placeholder img {
    width: 100%;
    padding:1%;
    min-height: 300px;
    max-height: 600px;
}

.gallery-images {
    width: 49%;
    padding: 1%;
    float: left;
    border: 1px solid #EEEEEE;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.image img {
    width:31%;
    min-height:125px;
    float: left;
    margin: 1%;
    cursor: pointer;
}